body {
      font-family: Arial, sans-serif;
      background: #f4f6f9;
      display: flex;
      justify-content: center;
      padding: 40px;
      font-size: 16px;
    }
    .container {
      background: #fff;
      padding: 25px 30px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 500px;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
    .field.row {
      display: flex;
      align-items: center;
      gap: 10px; /* espace entre les éléments */
    }
    
    .field.row label {
      white-space: nowrap; /* garde "CIN :" sur une seule ligne */
      margin-right: 5px;
    }
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 6px;
      color: #444;
    }
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }
    input:focus {
      border-color: #007BFF;
      outline: none;
      box-shadow: 0 0 5px rgba(0,123,255,0.2);
    }
      #modifie {
            display:none;
      }
    button {
      padding: 10px;
      width: 100%;
      background: #007BFF;
      color: #fff;
      border: none;
      border-radius: 6px;
      
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s;
      margin-top: 5px;
    }
    button:hover {
      background: #0056b3;
    }
    .message {
      margin-top: 15px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
    .success { color: green; }
    .error { color: red; }
